<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <a class="navbar-brand" href="/urls">Dylan's URL TinyApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link link-light" href="/urls">My URLs</a>
                <a class="nav-item nav-link link-light" href="/urls/new">Create New URL</a>
            </div>
        </div>
        <!--  login form       -->
        <div>
            <% if (username === undefined) { %>
            <form class="form-inline" method="POST" action="/login">
                <label for="username" style="color: white">
                    <input class="form-control" type="text" name="username" placeholder="username..."
                           style="width: 150px;">
                </label>
                <button type="submit" class="button btn-dark" style="margin-left: 10px;">Login</button>
                <% } else { %>
                    <form class="form-inline" method="POST" action="/logout">
                        <label for="username"
                               style="color: white;margin: 10px"><%= `Welcome back, ${username}! `; %></label>
                        <button type="submit" class="button btn-dark" style="margin-left: 2px;">Log Out</button>
                    </form>
                <% } %>
            </form>
        </div>

    </nav>
</header>
