<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <a class="navbar-brand" href="/urls">Dylan's URL TinyApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link link-light" href="/urls">My URLs</a>
                <a class="nav-item nav-link link-light" href="/urls/new">Create New URL</a>
            </div>
        </div>
        <!--  login form    -->
        <div>
            <% if (user === undefined) { %>
                <div display="form-inline" style="margin-bottom: 5px">
                    <a href="/register">
                        <button type="submit" class="button btn-dark" display>Create Account</button>
                    </a>
                    <a href="/login">
                        <button type="submit" class="button btn-dark" display>Sign In</button>
                    </a>
                    <small style="color: #fff">(Have an account?)</small>
                </div>
            <% } else { %>
                <form class="form-inline" method="POST" action="/logout">
                    <label style="color: white;margin-right: 10px" for="username"><%= `Welcome back, ${user.email}!`; %></label>
                    <button type="submit" class="button btn-dark" style="margin-left: 2px;">Log Out</button>
                </form>
            <% } %>
            </form>
        </div>

    </nav>
</header>
