<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Dylan's URL TinyApp</title>
</head>
<body>

<%- include('partials/_header') %>

<div style="">
    <h2 class="heading" style="margin: 1em;">Create an Account</h2>
    <div class="form-group">
    </div>
    <form method="POST" action="register">
        <input name="email" required placeholder="Enter your email"
               style="width: 270px; margin-left: 2em;padding-left: 10px">
        <br/>
        <div style="margin: 1em;"></div>
        <input name="password" required type="password" placeholder="Enter your password"
               style="width: 270px; margin-left: 2em;padding-left: 10px">
        <br/>

        <button type="submit" class="btn btn-secondary" style="margin-left: 2em; margin-top: 1em;">Get Started</button>
        <button type="button" class="btn btn-secondary" style="margin-left: 1em; margin-top: 1em;">
            <a style="color: white;text-decoration: none" href="/login">Have Account?</a>
        </button>
    </form>

</div>
</body>
</html>
